<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.ursurbornyar.mapper.BasicMapper">

	<insert id = "insertPlace" parameterType="com.my.ursurbornyar.vo.Place">
		INSERT INTO PLACE_TB (
			ID,
			NAME,
			WGS_X,
			WGS_Y,
			GRS_X,
			GRS_Y
		)
		VALUES (
			#{place.id},
			#{place.name},
			#{place.coor.x},
			#{place.coor.y},
			null,
			null
		)
	</insert>
	
	<select id = "checkDuplicatedPlace" parameterType="com.my.ursurbornyar.vo.Place" resultType = "Integer">
		SELECT
			COUNT(*)
		FROM
			PLACE_TB
		WHERE
			 WGS_X = #{place.coor.x} AND WGS_Y = #{place.coor.y}
		OR
			 NAME = #{place.name}
	</select>
	
	<select id = "countPlace" resultType = "Integer">
		SELECT
			COUNT(*)
		FROM
			PLACE_TB
	</select>
	
	<select id = "check" resultType = "Integer">
		SELECT 
			COUNT(*)
		FROM
			PATH_TB
	</select>
	
	<insert id = "insertBook" parameterType="com.my.ursurbornyar.vo.Path">
		INSERT INTO BOOK_TB (
			ID,
			TITLE,
			CONTENT,
			WRITER_ID,
			GENRES,
			IMAGE_URL
		)
		VALUES (
			#{item.id},
			#{item.title},
			#{item.content},
			#{item.writerId},
			#{item.genres},
			#{item.imageUrl}
		)
	</insert>
	
	<select id= "selectBookId" resultType="com.my.ursurbornyar.vo.Path">
        SELECT
            DATE_FORMAT(CURRENT_DATE(), '%y%m%d') AS CODE_DATE,
            COUNT(*) AS CNT
        FROM
            BOOK_TB
        WHERE
            ID LIKE CONCAT(DATE_FORMAT(CURRENT_DATE(), '%y%m%d'), '%')
	</select>
	
	<select id = "selectBook" resultType="com.my.ursurbornyar.vo.Path">
		SELECT 
			*
		FROM
			BOOK_TB 
		<if test='title != null'>
		WHERE
			TITLE = #{title}
		</if>
		ORDER BY ID ASC
	</select>
	
</mapper>
