<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my.ursurbornyar.mapper.TrackMapper">
			
	<select id = "countTrack" resultType = "Integer">
		SELECT
			COUNT(*)
		FROM
			TRACK_TB
	</select>
	
	<insert id = "insertTrack" parameterType = "com.my.ursurbornyar.vo.Track">
		INSERT INTO TRACK_TB (
			ID,
			DISTANCE,
			TIME,
			POINT_SET_ID
		)
		VALUES (
			#{track.id},
			#{track.distance},
			#{track.time},
			#{track.point_set_id}
		)
	</insert>
	
</mapper>